td    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }

.pagetop {font-family: Verdana, Geneva, sans-serif; font-size: 10pt; color: #222222;}
.hnname  { margin-right: 5px; }
